* {
    margin: 0;
    padding: 0;
}

.img {
    min-height: 100vh;
    width: 100%;
    background-image: url("resources/Banner\ Image.png");


    background-repeat: no-repeat;
    background-position: center;

}

.text-contian {
    text-align: center;
    padding: 400px;
    color: aliceblue;

}

.section-text {
    text-align: center;
}

.text-color {
    color: red;
    margin-bottom: 20px;
}

.text-bold {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
}

.section-img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-img-contian {
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 110px;
    height: 600px;
    margin-bottom: 100px;
    display: flex;

}

.partytext {
    padding-top: 100px;
    padding-left: 50px;
}

.partywidth {
    font-size: 64px;
    color: aliceblue;
    padding-left: 40px;

}

.partypara {
    color: aliceblue;
    padding-left: 40px;
    padding-top: 40px;
}

.imagsize {
    padding-left: 300px;
    padding-top: 100px;
}

.button {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    background: none;
    color: aliceblue;
    padding-left: 60px;
    padding-top: 30px;
}

.hotel {
    width: 1320px;
    height: 482px;
    background-color: rgb(236, 224, 228);
    margin-left: 100px;
    text-align: center;
    margin-bottom: 50px;


}

.PDT {
    padding-top: 120px;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
   
}

.red {
    color: red;
}
.join-now{
    background-color: red;
    border: none;
    font-size: 32px;
    border-radius: 20px;
    color: aliceblue;

}